server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /var/lib/promtail/positions.yaml

clients:
  - url: '{{ promtail_loki_url }}'
{% if promtail_loki_basic_auth.name is defined and promtail_loki_basic_auth.password is defined %}
    basic_auth:
      username: '{{ promtail_loki_basic_auth.name }}'
      password: '{{ promtail_loki_basic_auth.password }}'
{% endif %}
    external_labels:
      host: '{{ ansible_facts.hostname | default(ansible_hostname) }}'
{% if promtail_constellation_label %}
      constellation: '{{ promtail_constellation_label }}'
{% endif %}
{% for key, val in promtail_extra_labels.items() %}
      {{ key }}: '{{ val }}'
{% endfor %}

scrape_configs:
  - job_name: journal
    journal:
      json: false
      labels:
        job: systemd-journal
      max_age: 12h
      path: /var/log/journal
    relabel_configs:
      - source_labels: [__journal__systemd_unit]
        target_label: unit

  - job_name: syslog
    static_configs:
      - labels:
          __path__: /var/log/syslog
          job: syslog

  - job_name: auditd
    static_configs:
      - labels:
          __path__: /var/log/audit/audit.log
          job: auditd
