
# Must be part of a dynamic config file for Traefik to pick these up
{% if tls_files|length %}
tls:
  certificates:
{% for values in tls_files %}
    - certFile: {{ certificates_dir }}/{{ values.domain | basename }}.cert
      keyFile: {{ certificates_dir }}/{{ values.domain | basename }}.key
{% endfor %}
{% endif %}
