AWS_DEFAULT_REGION={{ polaris_nfs_backup_aws_default_region }}
RESTIC_REPOSITORY={{ polaris_nfs_backup_repository }}
RESTIC_BACKUP_SOURCE={{ polaris_nfs_backup_source }}
AWS_ACCESS_KEY_ID={{ polaris_nfs_backup_aws_access_key_id }}
AWS_SECRET_ACCESS_KEY={{ polaris_nfs_backup_aws_secret_access_key }}
RESTIC_PASSWORD={{ polaris_nfs_backup_restic_password }}
