# Bastions are configured with special bastion layers atop selected baseline and other layers

- name: Bastion hosts are configured with Polaris tasks
  ansible.builtin.import_playbook: linkorb.polaris.baseline.config

- name: Bastion hosts have useful packages
  ansible.builtin.import_playbook: linkorb.polaris.baseline.packages

- name: Bastion hosts are configured with admin users
  ansible.builtin.import_playbook: linkorb.polaris.baseline.admins

- name: Bastion hosts are hardened
  ansible.builtin.import_playbook: linkorb.polaris.baseline.hardening

- name: Bastion hosts export metrics to Prometheus
  ansible.builtin.import_playbook: linkorb.polaris.baseline.prometheus_node_exporter

- name: Bastion hosts join the tailnet
  ansible.builtin.import_playbook: linkorb.polaris.overlay.tailscale_client

- name: Bastion hosts audit login sessions
  ansible.builtin.import_playbook: linkorb.polaris.bastion.audit_session

- name: Bastion hosts ship logs
  ansible.builtin.import_playbook: linkorb.polaris.bastion.ship_logs

- name: Bastion hosts are hardened
  ansible.builtin.import_playbook: linkorb.polaris.bastion.harden
