- name: LB - Traefik
  hosts: polaris_traefik_ingress_host
  tags:
    - polaris.lb
    - polaris.lb.traefik
  tasks:
    - name: Create traefik directories
      ansible.builtin.file:
        path: "{{ item }}"
        state: directory
      become: true
      loop:
        - /etc/traefik/certificates
        - /var/log/traefik

    - when: polaris_traefik_tls_files | default([]) | length
      block:
        - name: Copy TLS cert files
          ansible.builtin.copy:
            dest: "/etc/traefik/certificates/{{ item.domain }}.cert"
            content: "{{ lookup('community.sops.sops', item.certFile, input_type='yaml') }}"
          loop: "{{ polaris_traefik_tls_files | default([]) }}"
          become: true

        - name: Copy TLS key files
          ansible.builtin.copy:
            dest: "/etc/traefik/certificates/{{ item.domain }}.key"
            content: "{{ lookup('community.sops.sops', item.keyFile, input_type='yaml') }}"
          loop: "{{ polaris_traefik_tls_files | default([]) }}"
          become: true

    - name: Create traefik docker network
      docker_network:
        name: traefik
        scope: swarm
        driver: overlay
      become: true

    - name: Setup traefik container
      include_role:
        name: stackmanager
      vars:
        tagged: lb
